*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    cursor: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px; /* Adjust the size of the cursor dot */
    height: 20px; /* Adjust the size of the cursor dot */
    border-radius: 50%; /* Make the dot round */
    background-color: white; /* Set the initial color of the dot */
    box-shadow: 0 0 10px white; /* Add a soft glow effect to the dot */
    pointer-events: none; /* Make the dot ignore mouse events */
    z-index: 9999; /* Ensure the dot stays on top of other elements */
  }
  
  .overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 9998;
    pointer-events: none;
  }
  
  .instructions {
    opacity: 0.5;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif; /* Replace 'Your Desired Font' with the actual font name */
    font-size: 0.9vh;
    transition: all 0.5s ease-in-out;
  }
  
  .instructions.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  